$main: #eaeaea;
$nav: #404b56;
$accent-light: #cc0e1d;
$accent-dark: #a2141a;
$text: #2c3034;

///////////
// RESET///
///////////

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}



* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $nav;
  height: 6rem;
  width: 75%;
  color: $main;
  h1 {
    margin-left: 1rem;
    font-size: 45px;
    display: inline;
  }
  ul {
    display: flex;
    list-style: none;
    li {
      display: flex;
      transition: background 0.5s ease;
      display: inline;
      margin-right: 0;
      padding: 100% 1rem;
      background: $nav;
      a {
        text-decoration: none;
        color: $main;
        flex-grow: 1;
      };
    }
    li:hover {
      background: $accent-light;
    }
  }
}

.app {
  width: 100%;
  // border: 1px solid $accent-light;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.widget {
  border: 2px solid $text;
  display: flex;
  // justify-content: center;
  margin-bottom: 1rem;
  background: $main;
  width: 75%;

  // align-items: center;
  h1 {
    font-size: 24px;
  }
}

/////////////////////////
//    MODAL STYLES     //
/////////////////////////

.comparisonModal {
  background-color: white;

  width: 450px;
  border: 1px solid black;
  position: absolute;
  top: 30%;
  left: 30%;
  padding: 10px;
  text-align: center;

  .modal-title {
    padding: 0px;

    h3 {
      text-align: center;
      margin-bottom: 0;
      padding-bottom: 0;
      padding: 0;
    }

    h4 {
      text-align: left;
      margin: 0;
      font-weight: 100;
    }
  }

  .comparison-modal-table {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .comparison-modal-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
    margin-bottom: 5px;
    padding: 0;
  }
}
