$main: #faf0bf;
$nav: #404b56;
$accent-light: #cc0e1d;
$accent-dark: #a2141a;
$text: #2c3034;

html {
  font-size: 16px;
}

nav {
  background: $nav;
  height: 6rem;
  width: 75%;
  color: $main;
}

.app {
  width: 100%;
  border: 1px solid $accent-light;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.widget {
  border: 2px solid $text;
  display: flex;
  // justify-content: center;
  margin-bottom: 1rem;
  background: $main;
  width: 75%;
  // align-items: center;
  h1 {
    font-size: 24px;
  }
}

.overview {
  height: 55rem;
  display: flex;
  flex-direction: column;
  .banner {
    text-align: center;
    height: 5%;
    border: 1px solid black;
  }
  .main-panel {
    display: flex;
    justify-content: space-between;
    height: 75%;
    .image-gallery {
      border: 1px solid blue;
      width: 60%;
      .image-carousel {
        display: flex;
        flex-direction: column;
        position: relative;
        left: 1.5rem;
        width: 5rem;
        height: 26rem;
        border: 1px solid black;
        justify-content: space-around;
        align-items: center;
        .box {
          width: 4rem;
          height: 4rem;
          border: 1px solid black;
        }
      }
    }
    .control-panel {
      border: 1px solid green;
      margin-right: 2rem;
      width: 35%;
      .static-info {
        border: 1px solid red;
        text-align: left;
        h2 {
          font-size: 2rem;
        }
      }
      .style-selector {
        height: 33%;
        border: 1px solid pink;
        display: flex;
        flex-wrap: wrap;
        .circle {
          border: 1px dotted black;
          border-radius: 50%;
          width: 3rem;
          height: 3rem;
          margin: 1rem;
        }
      }
      .controls {
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: space-around;
        font-size: 1.5rem;
        height: 33%;
        .row-1 {
          display: flex;
          justify-content: space-around;
          height: 60%;
          .size-button {
            width: 60%;
            border: 1px solid black;
          }
          .quantity {
            width: 30%;
            border: 1px solid black;
          }
        }
        .row-2 {
          display: flex;
          justify-content: space-around;
          height: 60%;
          .add-to-bag {
            width: 75%;
            height: 100%;
            border: 1px solid black;
          }
          .favorite {
            width: 15%;
            height: 100%;
            border: 1px solid black;
          }
        }
      }
    }
  }
  .bottom-panel {
    border: 1px solid purple;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-around;
    .description {
      border-right: 1px solid black;
    }
    .checklist {
      font-size: 1.25rem;
    }
  }
}

.related-products {
  display: flex;
  flex-direction: column;
  height: 55rem;

  .carousel {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  .card {
    background-color: lightgrey;
    height: 300px;
    width: 200px;
  }

  .cardImage {
    min-height: 215px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .cardInfo {
    line-height: 0.5rem;
    padding-bottom: 10px;
  }

  .title {
    align-self: flex-start;
  }
}


/////////////////////////
// RATINGS AND REVIEWS //
/////////////////////////


.reviews-ratings {
  height: 30rem;
  display:flex;
  flex-direction: column;

  .banner {
    text-align: left;
    height: 5%;
    border: 2px solid $text;
    width: 100%;
  }


  .overall {
    display: flex;
    flex-direction: row;
    height: 85%;
    border: 1px solid red;

    .ratings-panel {
      display: flex;
      flex-direction: column;
      border: 2px solid $text;
      width: 24%;
      height: 100%;
      margin-right: 3rem;
      text-align: start;

      .overall-rating {
        font-size: 2.75rem;
        font-weight: 600;
      }

      .recommendation {
        text-align: left;
        font-size: 0.8rem;
        margin-top: 1rem
      }

      .filter-by-star {
        padding-top: 0.5rem;

        .stars {
          padding-top: 0.7rem;
          text-decoration: underline;
          font-size: small;
        }
      }

    }

    .review-list {
      display:flex;
      flex-direction: column;
      height: 100%;
      width: 71%;
      border: 2px solid $text;

      .sort-by {
        font-weight:bold;
        margin-bottom: 2rem;
      }

      .single-review {
        display:flex;
        border: 1px solid $text;
        flex-direction: column;

        .info-bar {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 100%;
          border: 1px solid $text

        }

        .summary {
          margin-top: 0.8rem;
          font-weight: bold;
          border: 1px solid $text;
          margin-bottom: 0.8rem;
        }

        .review-body {
          font-size: .9rem;
          margin-bottom: 0.8rem;
        }

        .helpful {
          font-size: .75rem
        }
      }
    }
  }
}








// immdediate children
.q-and-a-container{
  height: 35rem;
  display: flex;
  justify-content: center;
  margin: 0.5rem;
  align-content: flex-start;
  flex-direction: column;
  border: 2px solid brown;

  h1 {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    font-size: 2rem;
    margin: left;
  }

.q-and-a-question {
  align-content: flex-start;
  .search-bar {
    height: 35px;
    display: flex;
    align-content: flex-start;
    margin-bottom: 1rem;
    border: 2px solid blue;
    font-size: 3rem;

    input {
      color: red;
      font-size: 50%;
      display: flex;
      align-content: flex-start;
      width: 75%;
    }
    .search-button {
      color: blue;
      height: 100%;
    }
  }

  .question-container {
    display: flex;
    border: 2px solid red;
    margin-bottom: 1rem;
    align-content: flex-start;
    justify-content: space-between;
    margin-bottom: 1rem;
    width: 100%;
    .q-btns {
      color: red;
    }
  }

  .answer-container {
    display: flex;
    width: 75%;
    border: 2px solid blue;
    justify-content: center;
    margin-bottom: 1rem;
    align-content: flex-start;
    flex-direction: column;

    .answer-info {
      display: flex;
      justify-content: space-evenly;
    }

    .answer-photos {
      display: flex;
      justify-content: center;
      align-content: flex-start;
      flex-direction: column;
      border: 2px solid red;
      margin-top: 1rem;

      .img-container {
        display: flex;
        justify-content: flex-start;
        flex-wrap: nowrap;
      }
      .answer-img-info {
        display: flex;
        justify-content: space-between;
        flex-direction: flex-start;
      }
      .action-btn-answers {
        color: red;
        width: 25%;
        display: flex;
        justify-content: flex-start;
      }
    }

  }
  .action-btn {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5rem;
    // align-content: flex-start;
    justify-content: flex-start;
    .more-answers {
      color: blue;
    }
    .add-question {
      color: Red;
    }
  }
}
