@import 'main.scss';

//////////////
// OVERVIEW //
//////////////
///
.overview {
  height: 55rem;
  display: flex;
  flex-direction: column;

  .banner {
    text-align: center;
    height: 5%;
    border: 1px solid black;
  }

  .main-panel {
    display: flex;
    justify-content: space-between;
    height: 75%;

    .image-gallery {
      border: 1px solid blue;
      width: 60%;

      .image-carousel {
        display: flex;
        flex-direction: column;
        position: relative;
        left: 1.5rem;
        width: 5rem;
        height: 26rem;
        border: 1px solid black;
        justify-content: space-around;
        align-items: center;

        .box {
          width: 4rem;
          height: 4rem;
          border: 1px solid black;
        }
      }
    }

    .control-panel {
      border: 1px solid green;
      margin-right: 2rem;
      width: 35%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .static-info {
        border: 1px solid red;
        text-align: left;
        h2 {
          font-size: 2rem;
        }
        .on-sale {
          text-decoration: line-through;
          color: red;
        }
      }

      .style-selector {
        height: 33%;
        width: 28rem;
        border: 1px solid pink;
        display: flex;
        flex-wrap: wrap;

        .circle {
          border: 1px solid black;
          border-radius: 50%;
          width: 4.5rem;
          height: 4.5rem;
          margin: 1rem;
        }

        .selected {
          border: 6px solid blue;
        }
      }

      .controls {
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: space-around;
        font-size: 1.5rem;
        height: 30%;

        .row-1 {
          display: flex;
          justify-content: space-around;
          align-items: center;
          height: 60%;

          .size-button {
            width: 60%;
            height: 65%;
            border: 1px solid black;
          }

          .quantity {
            width: 30%;
            height: 65%;
            border: 1px solid black;
          }
        }

        .row-2 {
          display: flex;
          justify-content: space-around;
          align-items: center;
          height: 60%;

          .add-to-bag {
            width: 75%;
            height: 65%;
            border: 1px solid black;
          }

          .favorite {
            width: 15%;
            height: 65%;
            border: 1px solid black;
          }
        }
      }
    }
  }

  .bottom-panel {
    border: 1px solid purple;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-around;

    .description {
      border-right: 1px solid black;
    }

    .checklist {
      font-size: 1.25rem;
    }
  }
}

